name: Deploy PR

on:
  pull_request:
    paths-ignore:
      - '.github/workflows/**'
    types: [opened, reopened, synchronize, labeled, closed]

jobs:
  build-pr:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: abernicchia-heroku/heroku-review-apps-action@main
        with:
          heroku-api-key: ${{secrets.HEROKU_API_KEY}} # set it on GitHub as secret
          heroku-pipeline-id: $HEROKU_REVIEWAPP_PIPELINE # set it on GitHub as variable at repository level
